/* #b348ff #916ff2 #6f97e5 #4ec0db #2ce7cc */

/*                  GENERAL                 */
body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    background-color: #2ce7cc;
    background-image: url(bg.png);
}

header {
    background-color: #4ec0db;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    text-shadow: black 2px 2px 2px;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #916ff2;
}

#welcome {
    background-color: #4ec0db;
    color: white;
}

main {
    padding: 2rem;
    margin-top: 4rem;
}

main section {
    background-color: #4ec0db;
    margin: 10px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
}

#start {
    padding-bottom: 350px;
}

main #welcome h1,
h4 {
    color: #ffffff;
    text-align: center;
    text-shadow: #000000 4px 3px 3px;
}

main #welcome h1:hover {
    transition: transform 0.5s ease;
    transform: scale(1.03);
}

main #welcome h1:not(:hover) {
    transform: scale(1);
}

footer {
    z-index: 3;
    background-color: #4ec0db;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*                  PAGE 1 (MAIN)                 */

.image-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#hidden {
    opacity: 0;
}

#hidden:hover {
    opacity: 0.6;
}

.image-container img {
    width: 333px;
    height: 333px;
    margin: 5px;
    box-shadow: #916ff2 3px 5px 5px;
    border-radius: 10px;
    /* Adjust the width and height as needed */
    transition: transform 0.3s ease;
    /* Adjust the duration as desired */
}

.image-container img:hover {
    transform: scale(1.05);
    /* Adjust the scale factor as desired */
}

.description {
    box-shadow: black 1px 4px 4px;
    margin-top: 30px;
    background-color: #6f97e5;
    border-radius: 10px;
    padding: 10px;
    height: 150px;
}

.description h3,
p {
    margin-left: 10px;
    color: #b348ff;
    text-shadow: black 0.5px 0.5px 0.5px;
}

.description p {
    display: inline-block;
    width: 900px;
    height: 300px;
}



/*             DOOR            */
.door-container {
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.door-container a {
    position: absolute;
}

.door-container a:first-child {
    z-index: 1;
}

.door-container a:last-child {
    z-index: 0;
}

#first:hover {
    opacity: 0;
}

/*                  PAGE 1.5 (FIELD)                 */
#field {
    background-image: url(bg2.jpg);
    height: 3000px;
    width: 1200px;
    background-size: 49%;
    background-repeat: repeat;
}

#random-images-container {
    position: relative;
    width: 1800px; /* Set the width and height of the container */
    height: 3000px;
    overflow: hidden; /* Hide overflow to prevent images from going outside the container */
}

#random-images-container img {
    opacity: 0;
}

#random-images-container img:hover {
    opacity: 0.4;
}

#back {
    background-color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1600px;
}

/* #field img {
    opacity: 0;
}

#field img:hover {
    opacity: 0.6;
} */

/*                  PAGE 2 (GALLERY)                 */

#image-list {
    display: flex;
    margin: 10px;
    justify-content: center;
}

#image-list img {
    width: 300px;
    height: 300px;
}


