body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    background-color: #233446;
}

header {
    background-color: #385670;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    text-shadow: black 2px 2px 2px;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #000000;
}

main {
    padding: 2rem;
    margin-top: 4rem;
}

main section {
    background-color: #385670;
    margin: 10px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.1);
}

#start {
    padding-bottom: 400px;
}

main #welcome {
    text-align: center;
    text-shadow: #000000 4px 3px 3px;
}

main #welcome h1:hover {
    transition: transform 0.5s ease;
    transform: scale(1.03);
}

footer {
    background-color: #385670;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

#welcome {
    background-color: #385670;
}

.image-container {
    display: flex;
    align-items: center;
    position: relative;
}

.image-container img {
    width: 333px;
    height: auto;
    margin-right: 10px;
    box-shadow: #000000 2px 5px 5px;
    border-radius: 10px;
    /* Adjust the width and height as needed */
    transition: transform 0.3s ease;
    /* Adjust the duration as desired */
}

.image-container img:hover {
    transform: scale(1.05);
    /* Adjust the scale factor as desired */
}


h1 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

main .description h3, p {
    color: black;
    text-shadow: black 1px 1px 1px;
}